/* Google Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors  */

:root {
  --on-background: rgb(66,66,66);
  --background: rgb(255,255,255);
}

/* General  */

html {
  box-sizing: border-box;

}

body{
  margin: 0;
  min-height: 100vh;  
  font-family: 'jost', sans-serif; 
  overflow-x: hidden;
  color: var(--on-background);
  background-color: var(--background);
}


main {
  position: relative;
}

a {
  text-decoration: none;
  color: var(--on-background);
}

  a:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid var(--on-background);
  }

/* Sections */

section {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

h2 {
  font-size: 40px;
}

/* Header  */
.header {
  width: 100vw;
}

.header h1 {
  font-size: 100px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  animation: focus-in-contract 3s linear; 
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;

  }

  100% {
    letter-spacing: 0;
    filter: blur(0);
    opacity: 1;
  }
}

.social-media-icons {
  font-size: 70px;
  position: relative;
  top: -60px;
  text-align: center;
}

.social-media-icons i {
  animation: focus-in-contract 3s linear;
  transition: transform 0.5s ease;
  cursor: pointer;
}


.social-media-icons i:hover{
  transform: scale(1.1);
}

/* Section-5 */

/* Section-2  */

.main-image {
  height: 50%;
  width: auto;
  position: relative;
  top: -25%;
  padding: 20px;
  border: 10px solid var(--on-background);
}


/* Section 3  */

.image-container {

  position: relative;
  top: -25%;
  height: 50vh;

}

.small-image {
  height: 50%;
  width: auto;
  padding: 20px;
  border: 10px solid var(--on-background);
}


.small-image:not(:first-child) {
  margin-left: 20px;
}

/* Section 4  */

.blog-container {
  margin: 0 auto;
  width: 50ch;
}

.blog-item {
  margin-bottom: 50px;
}

/* Wave  */
.wave {
  width: 100%;
}

.wave > svg {
  position: absolute;
  bottom: 0;
  left: 0;
} 

/* Footer  */
.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
} 